*{
  overflow: hidden;
}
html, body {
    height: 100%;
  }

  .App h1 {
    text-align: center;
  }
  .App h2 {
    text-align: center;
  }
.sv_q_title,.sv_q_description{
    visibility:collapse;
} 
:root {
    --primary-color: black;
  } 
  .sv_body{
      margin: auto;
      max-width: 1000pt;
  }
.sv_q{
    margin: auto;
    padding: 8rem;;
  display: grid;
  grid-gap: 0.8rem;
  max-width: 970pt;
  margin-top: 5px;
}
.sv_q_imgsel{
  display: flex;
  justify-content: space-evenly;
  padding: 0.2em;
  margin: 0.5rem;
  border: solid 0.2rem;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.sv_q_imgsel_label{
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5em;
  color:black;

  
}
.checked label {
  background-color:  #8f3985;
  color: white;
}